:root {
  --color-primary: #8496ff;
  --color-secondary: #a3d5ff;
  --color-accent: #69a5b2;
  --color-neutral-beige: #eee;

  --font-primary: "Open Sans", arial, sans-serif;
  --font-sencondary: "Droid Serif", serif;
}

html {
  font-family: var(--font-primary);
}
