:root {
  --color-primary: #8496ff;
  --color-secondary: #7c86b2;
  --color-accent: #e9b44b;
  --color-neutral-beige: #eee;

  --font-secondary: "Quicksand", sans-serif;
  --font-primary: "Martel", serif;
}

html {
  font-family: var(--font-primary);
}

strong {
  color: #536dfe;
}

h1 {
  color: #536dfe;
}

h2 {
  color: #000;
}

h3 {
  color: #000;
}

.nav {
  color: #000;
}

.nav a:hover {
  color: var(--color-primary);
}

small {
  color: #000;
}

ul {
  color: #000;
}


label {
 color: var(--color-primary);
}

.dark-bg {
  background-color: var(--color-primary);
}

mark{
  background-color: var(--color-secondary);
}

a{
color: var(--color-primary);
}
